



.Tittle
{
  background-image: none;
  padding:1px;
  margin:15px;
  color: black;
  font-size:250px;
  float: center;
  width: 85%;
  height:350px;
  font-family: 'Permanent Marker', cursive;
 
}



.Kobe1
{ 
  border: solid white; 
	width:175px; 
	height:300px; 
	text-align:left; 
	background-color:gold; 
	word-wrap: break-word; /* words won't go from the boundry */ 
	margin: 50px 5px auto; 
	/* top, left, bottom*/ 
	padding: 40px 50px 80px; 
	float: center; 
  font-family: 'Permanent Marker', cursive;
  background-image: none;
  font-family: 'Bebas Neue', cursive;
} 

div {

background-color: gold;
height: 250px;
width:200px;
border:5px solid black;
padding: 15px;
margin: 12px;
border-color: white;
background-image: none; 
font-family: 'Bebas Neue', cursive;
}
body{
  background-color: white;
  background-image: url("https://i.ibb.co/sKNcm5n/Kobe-Drawing.jpg");

font-family: 'Bebas Neue', cursive;
}
header{
  font-family: 'Bebas Neue', cursive;
  background-color:#000066;
  color:#FFFFFF;
  width:170%;
  height:500px;
  border:5px solid black;
  padding: 20px;
  margin:2px;
  text-align:left;
}
  
 nav {
    background: none;
    width: 100%;
    height: auto;
    border: 10pc solid back;
    padding: 10 px;
    margin: 10 px;
    font-family: 'Permanent Marker', cursive;
  }

  .logo image {
    float: left;
    height: 50px;
    width:150px;
}
 
  .nav li {

    float: left;
    list-style: none;
    height: 50px;
    width: 150px;
    padding: 0 40px;
    text-decoration: none;
    
    
  }
.nav li-hover {
     list-style-type:none;
    background:#fdb927;
    transition: .3s;

  }

  .nav-link {
  color:#fdb927;
  text-decoration:none;


}

  aside {
    background-color:none;
      widows:20px;
      height:100px;
    
  }
 
  section {
    
    width: 100%;
    height: auto;
    text-align:center
  }

article {
    background-color:white;
    width: 100%;
    height: auto;
    text-align:center

  }
  
  footer {
    background-color:none;
    width: 100%;
    height: auto;
    text-align:center
    
  }
  /* Start http://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/sports/spo-3/spo251.cur), auto !important;} /* End http://www.cursors-4u.com */   